## This script is for our second visulization

In [1]:
import pandas as pd
import json

In [2]:
with open('../data/json-converted/assignment-1/1-tsv-to-json.json') as f:
    j = json.load(f)
df = pd.DataFrame(j['Email'])

## We are going to see the popularity of each attack type

In [3]:
df2 = df[['reconnaissance','social_engineering','malware','credential_phishing']]

## We need the format of 
#### index   genre
####  1          a,b,c
####  2           b,d

In [4]:
list = []

In [5]:
for index, rows in df2.iterrows():
    temp = []
    if float(rows['reconnaissance']) == 1.0:
        temp.append('RE')
    if float(rows['social_engineering']) == 1.0:
        temp.append('SE')
    if float(rows['malware']) == 1.0:
        temp.append('MA')
    if float(rows['credential_phishing']) == 1.0:
        temp.append('CP')
#     Get the keywords we want

    if len(temp) == 1:
        text = temp[0]
        list.append(text)
    elif len(temp) > 1:
#     We are eliminating the rows with 4 '0's. Which means there are no attack types categorized for that row.
        text = ''
        for i in temp:
            text = text + ',' + i
        text = text.lstrip(',')
        list.append(text)

In [6]:
df_new = pd.DataFrame(list,columns=['genre'])

In [59]:
df_new.to_csv("../data/visualizations/vis2/vis2data.csv")

#### d3 observable url

##### https://observablehq.com/@drizzle98/attack-type-venn

In [7]:
df_new

         genre
0        SE,CP
1        SE,CP
2     RE,SE,CP
3        SE,CP
4     RE,SE,CP
...        ...
3744        MA
3745        MA
3746        MA
3747        MA
3748        MA

[3749 rows x 1 columns]

### Data processing for task5

In [41]:

index = 0
json_string = ''
for m,n in df_new.iterrows():
    new = {}
    new2 = {}
    temp = {}
    temp['_index'] = 'attack_type'
    temp['_id'] = index
    new['index'] = temp
    
    with open("../../DSCI-550-Assignment-3/data/visualizations/vis2data.json", "a") as write_file:
        json.dump(new, write_file)
        write_file.write('\n')
    json_string = json_string + c
    a = n['genre']
    new2['genre'] = a
    index = index + 1
    
    with open("../../DSCI-550-Assignment-3/data/visualizations/vis2data.json", "a") as write_file:
        json.dump(new2, write_file)
        write_file.write('\n')